<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/app/equipos">Equipos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav pointer">
                <a class="nav-item nav-link" routerLink="/app/equipos" routerLinkActive="active">Todos </a>
                <a class="nav-item nav-link" routerLink="/app/equipos/participando" routerLinkActive="active" >Participando</a>
                <a class="nav-item nav-link" routerLink="/app/equipos/propios" routerLinkActive="active">Propios</a>
                <a class="nav-item nav-link" routerLink="/app/equipos/crear" routerLinkActive="active">Crear</a>
            </div>
        </div>
    </nav>
</div>